[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
optuna = "*"
pyarrow = "*"
seaborn = "*"
plotly = "*"
pingouin = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"
ipykernel = "*"
ipywidgets = "*"
nbformat = "*"

[dev-packages]

[requires]
python_version = "3.12"
