[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
scikit-learn = "*"
scipy = "*"
seaborn = "*"
ipykernel = "*"
pingouin = "*"
fastapi = "*"
streamlit = "*"
uvicorn = "*"
requests = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.12"
