[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
pandas = "*"
ipywidgets = "*"
plotly = "*"
scikit-learn = "*"
gradio = "*"
optuna = "*"
nbformat = "*"
matplotlib = "*"
pingouin = "*"

[dev-packages]

[requires]
python_version = "3.12"
